<div class="title"> Currency Converter </div>
<exchange-rate [exchangeRate]="exchangeRate"></exchange-rate>
<div class="dateText">{{exchangeRateDate |  date:'full'}}</div>

<form class="currency-exchange-form">
  <mat-form-field class="example-full-width" appearance="fill">
    <mat-label>Amount</mat-label>
    <input [(ngModel)]="sourceToBeConverted" name="sourceConverted"  matInput value="1">
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Currency</mat-label>
    <select [(ngModel)]="currencySource"  name="currencySource" matNativeControl required>
      <option value="EUR">Euro</option>
      <option value="USD">USD</option>
    </select>
  </mat-form-field>
</form>
<form class="currency-exchange-form">
<mat-form-field class="example-full-width" appearance="fill">
  <mat-label>Amount</mat-label>
  <input  [(ngModel)]="resultConverted" name="resultConverted" matInput value="1" disabled>
</mat-form-field>
<mat-form-field appearance="fill">
  <mat-label>Currency</mat-label>
  <select [(ngModel)]="currencyResult" name="currencyResult" matNativeControl required readOnly>
    <option value="USD">USD</option>
    <option value="EUR">Euro</option>

  </select>
</mat-form-field>
</form>
